:root {
    --kk-main: #007AFF;
    --kk-red: #fe3a2f;
    font-size: 20px;

    --custom-color-1: #00a8f3;
    --custom-color-2: #ffcd35;
    --custom-color-3: #00c4b6;
    --custom-color-4: #ff6755;

    --kk-custom-color: var(--custom-color-1);
}


[data-theme=light] {
    --kk-theme-color: #00a8f3;
    --kk-theme-color2: #fe3a2f;
    /* --kk-border-gold: gold; */
    --kk-border-gold: #009af3;
    --kk-border-white: #fff;
    --kk-card-titleShadow: rgba(0, 0, 0, 0.1);
    --kk-card-bg: #e1eaf9;
    --kk-select: #fe3a2f;
    --kk-colorText-bg: #C2D4F9;
    --kk-black80: rgba(0, 0, 0, 0.8);
    --kk-black20: rgba(0, 0, 0, 0.2);
}

[data-theme=dark] {
    --kk-theme-color: #334455;
    --kk-theme-color2: #485766;
    --kk-border-gold: #90a4ae;
    --kk-border-white: #1a1a1c;
    --kk-card-titleShadow: rgba(255, 255, 255, 0.1);
    --kk-card-bg: #222226;
    --kk-select: #485766;
    --kk-select: #f90096;
    --kk-colorText-bg: #262626;
    --kk-black80: rgba(0, 0, 0, 0.8);
    --kk-black20: rgba(255, 255, 255, 0.2);
}

/* 卡片 */
#aside-content .card-widget{
	border: 4px solid var(--kk-border-white) !important;/*
	box-shadow: 4px 4px #2eb9dc inset,
				-4px -4px #2eb9bc inset;*/
	/*background-color: #32c9eb;*/
	background: var(--kk-card-bg) !important;
	/* color: black !important; */
	margin-top: 16px !important;

}

/* #aside-content .card-widget:hover,
#recent-posts .recent-post-item:hover,
#index-categories:hover{
	box-shadow: 0 0 0 4px var(--kk-border-gold) ;
	transition: 0.1s ;
} */
.aside-list{
    padding: 4px;
}
#aside-content .aside-list > .aside-list-item:first-child, 
#aside-content .aside-list > .aside-list-item:last-child{
    padding: 8px !important;
}
#aside-content .card-widget .aside-list .aside-list-item {
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    padding: 5px 8px;
}
#aside-content .card-widget .aside-list .aside-list-item:hover{
    background-color: var(--kk-theme-color);
    border: none !important;
}

/* card-announcement */
#aside-content .card-widget{
	padding: 6px !important;
}
#aside-content .card-widget .item-headline{
	width: 100% !important;
	text-align: center !important;
	padding: 5px 0 !important;
	border-bottom: 4px solid var(--kk-border-white) !important;
	box-shadow: 0 0 0 4px var(--kk-card-titleShadow) inset !important;
    color: #fff;
}
#aside-content .card-announcement .item-headline{
	background-color: var(--kk-theme-color) !important;
}
#aside-content .card-announcement .announcement_content{
	padding: 5px 10px !important;
	color: var(--font-color) !important;
}
#aside-content .card-announcement #kk-recent{
	padding: 5px !important;
	background-color: #222226 !important;
	border: 2px solid #fff !important;
	border-radius: 3px !important;
}




#aside-content .card-widget,
#bber-talk,
#container,
#post .post-copyright,
#sta_chart,
#statistic,
.cardHover,
.error404 #error-wrap .error-content,
.layout>div:first-child:not(.recent-posts),
.search-dialog {
    border-radius: 12px;
    box-shadow: 0 8px 15px -5px #2c2d300c !important;
    border: 4px rgba(255, 255, 255) solid;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

[data-theme="dark"] #aside-content .card-widget,
#bber-talk,
#container,
#post .post-copyright,
#sta_chart,
#statistic,
.cardHover,
.error404 #error-wrap .error-content,
.layout>div:first-child:not(.recent-posts),
.search-dialog {
    border-radius: 12px;
    box-shadow: 0 8px 15px -5px #2c2d300c !important;
    border: 4px solid var(--kk-border-white);
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

#aside-content .card-widget:hover,
#bber-talk:hover,
#container,
#post .post-copyright:hover,
#sta_chart,
#statistic,
.cardHover:hover,
.error404 #error-wrap .error-content:hover,
.layout>div:first-child:not(.recent-posts):hover,
.search-dialog {
    border-color: var(--kk-border-gold) !important;
}

:root {
    --blockquote-color: #333;
    --card-bg: rgba(255, 255, 255, .8);
    --leonus-black: #333;
    --leonus-blue: #f58b49;
}


/* card-announcement */
#aside-content .card-widget {
    padding: 0;
}

#aside-content .card-widget .item-headline {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-bottom: 4px solid var(--kk-border-white);
    box-shadow: 0 0 0 4px var(--kk-card-titleShadow) inset;
    /* margin-bottom: 10px; */
}

#aside-content .card-announcement .item-headline {
    background-color: var(--kk-theme-color);
}

#aside-content .card-announcement .announcement_content {
    padding: 5px 10px;
    color: var(--font-color);
}

#aside-content .card-announcement #kk-recent {
    padding: 5px;
    background-color: #222226;
    border: 2px solid #fff;
    border-radius: 3px;
}
#aside-content .sticky_layout .item-headline {
    background-color: var(--kk-theme-color);
}

#aside-content #card-toc .toc-percentage {
    float: none !important;
    margin: 0 0 0 10px !important;
    color: #a9a9a9 !important;
    font-style: italic !important;
    font-size: 1em !important;
}

